<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- 配置2个拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/t08/hello"/>
            <bean class="com.xxx.controller.t08拦截器.T01Interceptor"/>
        </mvc:interceptor>


        <mvc:interceptor>
            <!-- 映射路径-->
            <mvc:mapping path="/t08/*"/>
            <bean class="com.xxx.controller.t08拦截器.T02Interceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>